*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
background-color:#1f1f1f;
}
#Social-Links-Profile{
    margin: 5rem auto;
    width: 384px;
    height: 620px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
    align-items: center;

}
.avatar-img img{
    width: 88px;
    height: 88px;
    margin-top: 2rem;
    border-radius: 50%;}
    .profile{
        align-items: center;
    }
    .profile h1{
   color: white;
   font-size: 24px;
   font-weight: bold;
   margin-top: 1.5rem;

}
.profile h4{
color:#c5f82a;
font-size:14px;
margin-top:.5rem;
}
.profile p{
    color: white;
    font-size: 14px;
    margin-top: 1.5rem;
}
.links{
    margin-top:1.5rem ;
}
.links-menu li{
list-style-type:none;
text-align: center;   
margin: 1rem 0;
}
.links-menu li a{
background-color: #33333333;
text-decoration: none;
color: white;
width: 304px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
font-weight: 700;
transition: all .2s ease-in;
}
.links-menu li a:hover{
    background-color: #c5f82a;
    color: #141414;
}